# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
**/bin/*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.vs
*.vscode

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

Assets/_scenes/Levels/Level.1.1/
Assets/_scenes/Menus/MenuLevel/
Assets/TextMesh Pro/
Assets/Epic Toon FX/
Assets/ProCore/
Assets/Standard Assets/
Assets/unity-chan!/
Assets/AssetStoreOriginals/